<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nigeria Asociation of Computer Science Students - Federal University Lafia">
    <!-- <meta name="description" content="Computer Society of India, GITAM Student Branch."> -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <title>NACOSS | Federal University of Lafia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="style.css" rel="stylesheet">
    <link href="sass/gallery.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css">

    <script type="text/javascript" src="assets/js/w3Inculde.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script>
      Vue.use(VueLazyload, {
        preLoad: 2.3,
        loading: 'assets/gallery/4V0b.gif',
        attempt: 2,
        listenEvents: ['scroll', 'wheel', 'mousewheel', 'resize', 'animationend', 'transitionend' ]
        })
    </script>

</head>

<body>
    <header w3-include-html="header.html">
    </header>

    <div role="main">
        <div class="jumbotron j-contact">
            <div class="container">
                <div class="hed">

                    <h1>Gallery</h1>
                   <h5 style="font-size: 18px; line-height: 30px;"> As each year progresses, we take an initiative to make the students, staff and members ready to face <br> the future with various technical, non-technical and course-related workshops, seminars &amp; events. <br> We take this opportunity to showcase some of the highlights of the <br> events conducted by NACOSS FULafia</h5>
                </div>
            </div>
        </div>
             <div class="container marketing" id="gallery">

             <section v-if="errored" class="text-center ">
                    <i class="fa fa-caution big"></i>
                    <p>No image exist yet. Check back later</p>
                </section>

                <section v-else>
                    <div v-if="loading">Loading gallery...</div>
                    <div v-else class="jumbotron">
                        <div class="row">
                        <div class="col-lg-8" style="margin-left: 100px">
                            <div v-lazy-container="{ selector: 'p'}">
                                <p v-html="gallery.post_content"></p>
                                <!-- <img src="" alt="..." class="img-thumbnail"> -->
                                <!-- <img :data-src="getImage(gallery.post_content)"/> -->

                                <!-- <figure class="figure">
                                        <img src="..." class="figure-img img-fluid rounded" alt="...">
                                        <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                                      </figure>  -->
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                </div>
                </section>
            </div>
            <div w3-include-html="footer.html" ></div>
                    <script>
                        includeHTML();
                        
                    </script>
    </div>
    <script type="text/javascript" src="assets/js/gallery.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>