<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Nigeria Asociation of Computer Science Students - Federal University Lafia">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <title>NACOSS | Federal University of Lafia</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="index.css" rel="stylesheet">

  <script type="text/javascript" src="assets/js/w3Inculde.js"></script>
  <script type="text/javascript" src="assets/js/vue.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
  <script>
    Vue.use(VueLazyload, {
      preLoad: 2.3,
      loading: 'assets/gallery/4V0b.gif',
      attempt: 2,
      listenEvents: ['scroll', 'wheel', 'mousewheel', 'resize', 'animationend', 'transitionend']
    })
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

</head>

<body>
  <header w3-include-html="header.html">
  </header>


  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1">
          <div class="overlay"></div>
        </div>
        <div class="hero">
          <hgroup>
            <h1>NACOSS</h1>
            <p class="hhp">The most active student association in FULafia, filled like an ocean with programmers,
              creators, innovators, designers and people who want to make a difference.</p style="fon">
          </hgroup>
        </div>
      </div>




      <div class=" jumbotron">

        <div class="container">

          <div class="text-center headin-u mb-2">
            <center>
              <h4>Latest News and Updates</h4>
            </center>

          </div>

          <div id="post">
            <div v-if="errored" class="text-center" style="color: red">
              <i class="fa fa-warning big"></i>
              <p>Sorry cannot load latest news and updates at the moment.</p>
            </div>
            <div v-else class="row">
              <div v-for="post in posts" class="col">
                <div v-lazy-container="{ selector: 'img'}">


                  <div class="row">
                    <div class="column">
                      <div class="card">
                        <img :data-src="getImage(post.imageLink)" width="200" height="150" class="card-img-top"
                          alt="...">

                        <h5 class="mt-2" style="padding: 10px; font-weight: bold;">{{post.post_title}}</h5 style="padding: 10px;">
                        <p class="p-t"> {{shortenedPostContent(post.post_content).substring(0,50)}}</p>
                        <a :href="'post.html?id=' + post.ID" class="btn btn-primary">Read more</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="jumbotron" style="background: rgb(9, 100, 1);">
            <div class="container">
                <div class="row row-cols-2">
                  <div class="col">
                      <div class="col mb-4">
                          <div class="card">
                              <img class="card-img-top1" src="assets/brand/logo-nacoss-fulafia.jpg" width="200px" height="200px" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">About us — NACOSS | FULafia</h5>
                              <p class="card-text">
                                  NACOSS FULafia is the NACOSS Chapter for students studying
                                  Computer Science in Federal University of Lafia.
                              </p>
                              <a href="about.html" style=" margin-left:20px;" class="btn btn-success">About Us</a>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="col">


                      <div class="col mb-4">
                          <div class="card">
                            <img  src="assets/gallery/excos/president1.jpg"  class="card-img-top card-img-top1" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Message from
                                  the President</h5>
                                  <p class="card-text"> Welcome to the official website of the NACOSS FULafia
                                      Chapter and thank you for taking the time to learn more about us.
                                      The association strive to keep up with the aims and objectives of its parent association.
                                    </p>
                            </div>
                          </div>
                        </div>


                        
                  </div>
                  
                </div>
              </div>
        </div>



        <div w3-include-html="footer.html">

        <script>
          includeHTML();
        </script>
        <script type="text/javascript" src="assets/js/app.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
          integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
          crossorigin="anonymous"></script>
</body>

</html>