

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}

.fade-carousel .carousel-indicators{
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 19%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner.hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 31%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(assets/brand/IO17Extended\ \(15\).JPG); 
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .fade-carousel .slides .slide-1 {
        top: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 300px;
    
      }
 
      .hhp{

        font-size: 9px;;
      }

      .overlay{
          height: 300px;
      }
    .hero h1 { 
        font-size: 2em;
        
    }   
    .hero{
        top: 4%;
    } 
    .p-t{
      font-size: 0.9rem;
    }

    .card {
        z-index: 1;
        text-align: center;
        align-content: center;
        align-self: center;
        margin-right: 0px;
        text-transform: uppercase;

    }

    .text-center{
        font-size: 10px;
    }

    .col-md-4{
        min-width: 0px;
    }
}

@media (min-width: 768px){
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 26%;
    }
}
   




/* Float four columns side by side */
.column {
    float: left;
    width: 100%;
    padding: 0 10px;
    height: fit-content;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -19px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
   
    padding: 16px;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: #f1f1f1;
  }

  .card-img-top1{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
 
  .fbg{
    background: black;

    padding: 0;
    top: none;
    bottom: 0;
    padding: 40px;
  }

  h5{
    margin: 10px;
  }

  .headin-u{
    background: rgb(9, 100, 1);
    padding: 10px;
    border-radius: 3rem;
    font-size: 15px;
    text-align: center;
    align-items: center;
    align-content: center;
    color: antiquewhite;

  }