<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nigeria Asociation of Computer Science Students - Federal University Lafia">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <title>NACOSS | Federal University of Lafia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="style.css" rel="stylesheet">

        <script type="text/javascript" src="assets/js/w3Inculde.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script>
      Vue.use(VueLazyload, {
        preLoad: 2.3,
        loading: 'assets/gallery/4V0b.gif',
        attempt: 2,
        listenEvents: ['scroll', 'wheel', 'mousewheel', 'resize', 'animationend', 'transitionend' ]
        })
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

</head>
<body>
    <header w3-include-html="header.html">
    </header>
    <div class="container">
        <img class="hero-b" src="assets/brand/IO17Extended (15).JPG" alt="Notebook">
        <div class="content">
          <p class="p-tag"> The most active student association in FULafia, filled like an ocean with programmers, creators, innovators, designers and people who want to make a difference.</p>
        </div>
      </div>

<!-- 
    <div role="main">
        <img style="width: 100%; font-size: 23px;margin-left: 0;padding: 0" src="assets/brand/meet-the-team-carousel.png" class="img img-fluid">
            <div style="color:white;position: absolute; top: 50% ;left: 50%;transform: translate(-50%, -50%);width: 80%;text-align: center;text-shadow: 0 3px 10px black;" >
             
                            The most active student association in FULafia, filled like an ocean with programmers, creators, innovators, designers and people who want to make a difference.
                            <p><a class="btn btn-lg btn-primary" href="about.html" role="button">About the association</a></p>
            </div>         
    </div> -->

    <div class="container">
    
      
      
      
      
      <div class="text-center">
          <center><h1>Latest News and Updates</h1></center>

      </div>
      <div  id="post" >
          <div v-if="errored" class="text-center" style="color: red">
              <i class="fa fa-warning big"></i>
              <p>Sorry cannot load latest news and updates at the moment.</p>
          </div>
            <div v-else class="row jumbotron">
              <div  v-for="post in posts" class=" col-md-3" >
                <div v-lazy-container="{ selector: 'img'}">
                  
            <div class="card mt-2" style="width: 18rem;">
              <img :data-src="getImage(post.imageLink)" width="200" height="150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{post.post_title}}</h5>
                <p class="card-text">                          {{shortenedPostContent(post.post_content).substring(0,50)}}</p>
                <a :href="'post.html?id=' + post.ID" class="btn btn-primary">Read more</a>
              </div>
            </div>


                            </div>
                           
                </div>
            </div>


        </div>
    
    </div>
    <div class="jumbotron">
    <div class="row">
      <div class="col">
            <div class="card mb-3 navv" style="max-width: 100%;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="assets/brand/logo-nacoss-fulafia.jpg" width="200px" height="200px" alt="...">
                       
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="margin:20px;font-size: 20px; font-weight: bolder; text-transform: uppercase;">About us — NACOSS | FULafia</h5>
                          <p class="card-text" style=" margin:20px;">NACOSS FULafia is the NACOSS Chapter for students studying Computer Science in Federal University of Lafia.   </p>
                          <a href="about.html" style=" margin-left:20px;" class="btn btn-success">About Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
             

                  
    
      </div>
      <div class="col">
        <div class="container">

          <div class="card mb-3 navv-t" style="max-width: 100%;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img class="hero" style="padding: 30px;" src="assets/gallery/excos/president.jpg" width="250px" height="257px"  alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px; margin: 20px; font-weight: bolder; text-transform: uppercase;">Message from the President</h5>
                    <p class="card-text" style=" margin:20px;"> Welcome to the official website of the NACOSS FULafia Chapter and thank you for taking the time to learn more about us. 
                        The association strive to keep up with the aims and objectives of its parent association.
                    </p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            
          </div>
  </div>
               <div w3-include-html="footer.html" >
            
        </div>
        <script>
            includeHTML();
        </script>
            <script type="text/javascript" src="assets/js/app.js"></script>
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>