<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Computer Society of India, GITAM Student Branch.">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <title>NACOSS | Federal University of Lafia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="assets/js/w3Inculde.js"></script>
    <style type="text/css">
        .big{
            font-size: 120px;
            color: #FFE793;
        }
    </style>

        <script type="text/javascript" src="assets/js/w3Inculde.js"></script>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> 
</head>

<body>
   <header w3-include-html="header.html">
    </header>
        <div role="main">
            <div class="jumbotron j-contact">
                <div class="container">
                    <h1 class="display-3">Materials</h1>
                    <p>Ranging from lecture notes, past questions and tutorial questions. Get all the materials you need here. Exclusive to members only
                        <br> Any queries? Reach out to us!</p>
                    </div>
                </div>
                <div class="container" id="resources">
                  
                  <section v-if="errored" class="text-center">
                    <i class="fa fa-warning big" style="color: red"></i>
                    <p>No material uploaded for this level yet</p>
                  </section>
                <section v-else>
                    <div v-if="loading">Loading contents...</div>
                    <div v-else>
                    <table class="table table-bordered" >
                        <thead>
                          <tr>
                            <th>Course</th>
                            <th>Files</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody v-for="(resource, codeCode) in resources">
                          <tr>
                            <td>
                                <i class="fa fa-folder-open big"></i><br>
                                {{codeCode}}
                            </td>
                            <td colspan="2"> 
                                <div class="list-group" v-for="item in resource">
                                  <a :href="item.filepath" class="list-group-item" target="_blank" :title="item.info">
                                    <span v-html="getFileType(item.fileName)"></span>
                                    {{item.fileName}} &nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-download"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    {{Math.trunc(item.fileSize/1024)}} kb
                                    </a>                                  
                              </div>
                          </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
             <div w3-include-html="footer.html" ></div>
                    <script>
                        includeHTML();
                    </script>
            </div>
            <script type="text/javascript" src="assets/js/resources.js"></script>

        </body>
        
        </html>